html, body{ 
  height: 100%; 
}
body{
	margin-top:-50px;
	overflow-x:hidden;
	overflow-y:scroll;
	font-family:"Open Sans","Helvetica Neue",Arial,sans-serif;
	background: url('img/concrete_seamless.png');
	background-repeat: repeat;
	color:#535353;
}

ul.timeline{
	/*margin-bottom: 50px;*/
	ul{
		list-style-type: disc;
	}
	li{
		.timeline-panel{
			width:100%;
			ul{
				li:before,li:after{
					content:initial;
				}
			}
		}
		.company-logo{
			position:absolute;
			top:10px;
			right:10px;
			width:160px;
		}
	}
	.hidden{
		display: block !important;
  		opacity: 0;
	}
}

.timeline-end{
	width: 100%;
	text-align: center;
	.arrow{
		display: inline-block;
		font-size: 30px;
		padding: 10px;
		cursor: pointer;
		&:hover{
			color:black;
		}
	}
}

.section-header{
	width: 100%;
	text-align: center;
	padding: 20px 0 20px 0;
	font-size: 30px;
}

.custom_container{
	width:100%;
	min-height:100%;
	padding:70px 40px 20px 40px;
}

.project-card{
	text-align: center;
	margin-bottom: 40px;
	width: 100%;
	position: relative;
	.project-card-overlay{
		opacity: 0;
		position: absolute;
		top:0;
		bottom:0;
		background: black;
		cursor: pointer;
		width: 100%;
		left: 0;
		color: white;
		font-size: 40px;
		transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
		-moz-transition: all 0.5s ease-in-out; /** Firefox **/
		-o-transition: all 0.5s ease-in-out; /** Opera **/
		-ms-transition: all 0.5s ease-in-out;

		&:before{
			 content: '';
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
		    margin-right: -0.25em;
		}
	}
	&:hover .project-card-overlay{
		opacity: 0.8;
	}
	.project-image{
		width: 100%;
	}
	.project-details{
		display: none;
	}
}

.education{
	
	.school{
		background-color: white;
		padding: 10px;
		margin-bottom: 10px;
		position: relative;
		.logo{
			position: absolute;
			top: 10px;
			right: 10px;
			width: 100px;
		}
		.gpa{
			font-style: italic;
			margin-bottom: 5px;
		}
		.honors{
			margin-bottom: 5px;
		}
	}
}


.selected-project{
	.back{
		font-size: 20px;
		cursor: pointer;
	}
	.tools-section{
		margin-top: 250px;
		padding-left: 20px;
		color:gray;
		font-style: italic;
	}
	.project-image{
		width: 100%;
	}
}

.profile-pic{
	display: block;
	width: 250px;
	margin: 0px auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	margin-bottom: 20px;
}

.about-text{
	font-size: 18px;
	line-height: 30px;
}

.banner{
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
}

.home{
	text-align: center;
	margin-top: 100px;
	.header{
		font-size: 90px;
	}
	.sub-header{
		font-size: 30px;
		padding: 20px; 
	}
	.social{
		color: black;
		font-size: 30px;
		padding: 20px 10px 20px 10px;
		li{
			display:inline-block;
			margin: 0 15px;
	  		padding: 0;
	  		a{
	  			text-decoration: none;
	  			color:#636363;
	  		}
	  		&:hover{
	  			a{
	  				color: black;
	  			}
	  		}
		}
	}
	.learn-more{
		cursor: pointer;
		font-size: 20px;
		a{
			text-decoration: none;
			color: darkgray;
			font-style: italic;
		}
	}
}

.contact-info{
	.fa{
		margin-right: 10px;
		font-size: 16px;
		width: 16px;
	}
}


@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

@media (max-width: 768px){
    .selected-project{
		
		.tools-section{
			margin-top: 10px;
		}
	}

	.home{
		margin-top: 20px;
		.header{
			font-size: 50px;
		}
	}

	.custom_container{
		padding: 70px 10px 20px 10px;
	}
	ul.timeline li .company-logo{
		display: block;
		padding-left: 10px;
		position: relative;
		width: 110px;
	}

	.education{
		.school{
			margin-bottom: 20px; 
			.logo{
				right: 0;
				left: 10px;
				position: relative;
				display: block;
			}
		}
	}

}