<div class="section-header">
	
</div>
<timeline>
		<timeline-event ng-repeat="item in ::list">
	    <timeline-badge class="info" when-visible="animateElementIn" when-not-visible="animateElementOut">
	    </timeline-badge>
	    <timeline-panel class="info" when-visible="animateElementIn" when-not-visible="animateElementOut">
	      <timeline-heading>
	        <img class="company-logo" ng-src="{{::item.logo}}">
	        <h4>{{item.company_name}}</h4>
	      </timeline-heading>
	      <p>{{item.position}}</p>
	      <p>{{item.date}}</p>
	      <ul ng-repeat="accomplishment in item.accomplishments">
			<li>{{accomplishment}}</li>
		</ul>
	    </timeline-panel>
	  </timeline-event>
</timeline>
