<!DOCTYPE html>
<html id="ng-app" ng-app="app" ng-controller="AppController" ng-csp>
  <head>
    <title ng-bind="pageTitle"></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <!-- inject:css -->
    <!-- endinject -->
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
    <!-- inject:js -->
    <!-- endinject -->

  </head>
  <body>
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav nav-center">
            <li ui-sref-active="active" ng-click="menuCollapsed = true">
              <a href ui-sref="home">
                Home
              </a>
            </li>
            <li ui-sref-active="active" ng-click="menuCollapsed = true">
              <a href ui-sref="about">
                About Me
              </a>
            </li>
            <li ui-sref-active="active" ng-click="menuCollapsed = true">
              <a href ui-sref="education">
                Education
              </a>
            </li>
            <li ui-sref-active="active" ng-click="menuCollapsed = true">
              <a href ui-sref="work">
                Employment
              </a>
            </li>
            <li ui-sref-active="active" ng-click="menuCollapsed = true">
              <a href ui-sref="skills">
                Skills
              </a>
            </li>
            <li ui-sref-active="active" ng-click="menuCollapsed = true">
              <a href ui-sref="projects">
                Projects
              </a>
            </li>
            <li ui-sref-active="active" ng-click="menuCollapsed = true">
              <a href ui-sref="contact">
                Contact Me
              </a>
            </li>
          </ul>
        </div>
      </div>
    

    <div class="custom_container slide" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          FFOOOOOOTTT
        </div>
      </div>
    </footer>
  </body>
</html>
